<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li ><a routerLink="/dashboard">Dashboard</a></li>
                    <li><a routerLink="/officer">Officer</a></li>
                    <li><a routerLink="/commuter">Commuter</a></li>
                    <li><a routerLink="/challan">Challan</a></li>
                    <li><a routerLink="/offence">Offence</a></li>
                </ul>
            </nav>
        </div>
        
    </div>
</div>