<div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
                <a (click)="open()" class="btn btn-primary btn-xs pull-right"><b>+</b> Create new Officer</a>
        <table class="table table-striped custab">
        <thead>
        
           
                <tr>
                        <th>Name</th>
                        <th>Badge Number</th>
                        <th>Precinct</th>
                        <th>Type</th>
                    </tr>
                </thead>
                        <tr *ngFor="let officer of data.officers | async">
                                <td>{{officer.name}}</td>
                                <td>{{officer.badge_number}}</td>
                                <td>{{officer.precinct}}</td>
                                <td>{{officer.type}}</td>
                                                              
                        </tr>
        </table>
        </div>
    </div>

    
 
          